
{% extends "utilities/base.html" %}

{% block head %}
	{{form.media.css}}
	<title>{{page_name}}</title>
{% endblock %}


{% block content %}
<form method="post" enctype="multipart/form-data" onsubmit="dosubmit();">
{% csrf_token %}

<div class="col-md-12 d-flex">
<h4 class="mt-2">{{page_name}}</h4>
<a class ="btn btn-link ml-auto" href="{% url 'locations:add_location' %}"
	role="button">location</i></a>
{% if view != "inline" %}
	{% if page_name == "Edit geoloc"%}
	<a class ="btn btn-link ml-auto" href="{% url 'locations:add_geoloc' %}"
	role="button"><i class="fa fa-plus"></i></a>
	{% endif %}
	<a class ="btn btn-link ml-auto" href="{% url 'locations:geoloc_list' %}"
	role="button"><i class="fas fa-list"></i></a>
{% endif %}
</div>


{% include 'utilities/edit_minimize_tab.html' %}

<div class="tab-content">
    <div class="tab-pane fade" id="Edit">
	{%if page_name == "Edit text" and 'unknown' not in crud.last_update %}
		{% include 'utilities/change_log.html' %}
		{% else %} <p class="mb-4"></p>
	{% endif %}
	<!-- text form is defined in a seperate template -->
		<table class="table table-borderless" >
			<tr class="d-flex">
				<th class="col-2">name</th>
				<td class="col-8">{{form.name}} {{form.name.errors}}</td>
			</tr>
			<tr class="d-flex">
				<th class="col-2">location type</th>
				<td class="col-8">{{form.location_type}} {{form.location_type.errors}}</td>
			</tr>
			<tr class="d-flex">
				<th class="col-2">latitude</th>
				<td class="col-8">{{form.latitude}} {{form.latitude.errors}}</td>
			</tr>
			<tr class="d-flex">
				<th class="col-2">longitude</th>
				<td class="col-8">{{form.longitude}} {{form.longitude.errors}}</td>
			</tr>
			<tr class="d-flex">
				<th class="col-2">notes</th>
				<td class="col-8">{{form.notes}} {{form.notes.errors}}</td>
			</tr>
		</table>
    </div>


    <div class="tab-pane fade" id="Minimize">
		<!-- you can minimize the text form -->
		<br>
        <h5 class="mb-1">{{form.instance.title}} </h5> 
		<br>
    </div>
</div>
