{% extends "catalogue/base.html" %}
{% block content %}

<div>
	<div style="float:left">
	<table class="table table-hover">
		<tr> 
		<!-- create header -->
		{% for attr in location_list.0.table_header%}
			<th> {{ attr }}</th>
		{% endfor %}
		</tr>
		{% for l in location_list %}
		<tr onmouseover='show_loc({{l.latitude}},{{l.longitude}},"{{l.name}}")'>
			{% for attr in l.table %}
				{% if attr|length > 18 %}
					<!-- truncate long strings -->
					<td>{{ attr|truncatechars:12}}</td>
				{% else %}
					<td>{{ attr }}</td>
				{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
</div>
	<div> 
	{% include "locations/map_location.html" %}
	</div>
</div>

<script>
function remove_loc(){
	var mapObject = $('#map').vectorMap('get', 'mapObject');
	mapObject.removeAllMarkers();
};
function show_loc(latitude,longitude,name){
	remove_loc();
	var mapObject = $('#map').vectorMap('get', 'mapObject');
	mapObject.setFocus({lat:latitude,lng:longitude,x:1,y:1,scale:3});
	mapObject.addMarker(1,{
			latLng:[latitude,longitude],
			name:name,
			})
	mapObject.series.markers[0].setValues({1:'location'});
	console.log(mapObject);
};

</script>


{% endblock content %}
