{% extends "utilities/base.html" %}

{% block head %}
	{{form.media.css}}
{% endblock %}

{% block content %}
<div class="col-md-12 d-flex">
<h4 class="mt-2">{{page_name}}</h4> 
{% if page_name == "Edit Location"%}
<a class ="btn btn-link ml-auto" href="{% url 'locations:add_location' %}"
role="button">add person</a>
{% endif %}
<a class ="btn btn-link ml-auto" href="{% url 'locations:location_list' %}" role="button">location list</a>
</div>

<p class="text-warning">Please check the help tab</p>


<!-- adding or editing a person -->

{% include 'utilities/relation_tabs.html' %}

<div class="tab-content">

    <div class="tab-pane fade" id="Add-from-database">

	<form name="myform" id="myform" method = "post" onsubmit="dosubmit();">
		{% csrf_token %}
	<table class="table table-borderless">
	<tr class ="d-flex">
		<th class="col-2">Location</th>
		<td class="col-8">{{fastform.location}} {{fastform.location.errors}}</td>
	</tr>
	</table>
	<input type="hidden" name="navbar" id="navbar" value="" />
	<input type="hidden" name="navcontent" id="navcontent" value="" />
	<input type="hidden" name="focus" id="focus" value="" />
	<input type="submit" value="Save" class="btn btn-success">
	</form>
	</div>

    <div class="tab-pane fade" id="GeoLocation">
		<!-- person form is defined in a seperate template -->
		{% if page_name == "Edit Location" and 'unknown' not in crud.last_update %}
			{% include 'utilities/change_log.html' %}
			{% else %} <p class="mb-4"></p>
		{% endif %}
		<form name="geoform" id="form" method = "post" onsubmit="dosubmit();">
			{% csrf_token %}
		<table class="table table-borderless" >
			<tr class="d-flex">
				<th class="col-2">name</th>
				<td class="col-8">{{form.name}} {{form.name.errors}}</td>
			</tr>
			<tr class="d-flex">
				<th class="col-2">location type</th>
				<td class="col-8">{{form.location_type}} {{form.location_type.errors}}</td>
			</tr>
			<tr class="d-flex">
				<th class="col-2">country</th>
				<td class="col-8">{{form.contained_by_country}} 
				{{form.contained_by_country.errors}}</td>
			</tr>
			<tr class="d-flex">
				<th class="col-2">latitude</th>
				<td class="col-8">{{form.latitude}} {{form.latitude.errors}}</td>
			</tr>
			<tr class="d-flex">
				<th class="col-2">longitude</th>
				<td class="col-8">{{form.longitude}} {{form.longitude.errors}}</td>
			</tr>
			<tr class="d-flex">
				<th class="col-2">notes</th>
				<td class="col-8">{{form.notes}} {{form.notes.errors}}</td>
			</tr>
		</table>
		<input type="hidden" name="focus" id="focus1" value="" />
		<input type="submit" value="Save" class="btn btn-success">
		</form>
    </div>

    <div class="tab-pane fade" id="UserLocation">
		<!-- person form is defined in a seperate template -->
		{% if page_name == "Edit Location" and 'unknown' not in crud.last_update %}
			{% include 'utilities/change_log.html' %}
			{% else %} <p class="mb-4"></p>
		{% endif %}
		<form name="userform" id="userform" method = "post" onsubmit="dosubmit();">
			{% csrf_token %}
		<table class="table table-borderless" >
			<tr class="d-flex">
				<th class="col-2">name</th>
				<td class="col-8">{{userform.name}} {{userform.name.errors}}</td>
			</tr>
			<tr class="d-flex">
				<th class="col-2">locations</th>
				<td class="col-8">{{userform.geolocs}} {{userform.geolocs.errors}}</td>
			</tr>
			<tr class="d-flex">
				<th class="col-2">type</th>
				<td class="col-8">{{userform.loc_type}} {{userform.loc_type.errors}}</td>
			</tr>
			<tr class="d-flex">
				<th class="col-2">status</th>
				<td class="col-8">{{userform.status}} {{userform.status.errors}}</td>
			
			</tr>
			<tr class="d-flex">
				<th class="col-2">precision</th>
				<td class="col-8">{{userform.loc_precision}} 
					{{userform.loc_precision.errors}}</td>
			</tr>
			<tr class="d-flex">
				<th class="col-2">notes</th>
				<td class="col-8">{{form.notes}} {{form.notes.errors}}</td>
			</tr>
		</table>
		<input type="hidden" name="focus" id="focus2" value="" />
		<input type="submit" value="Save" class="btn btn-success">
		</form>
    </div>

    <div class="tab-pane fade" id="Help">
	<p>If you want to add a location you can fist check the extended database 
	(with Add-from-database) to see whether you can add it from there.</p>
	<p>If the location is not available in the extended database you can create a new location:</p>
	<ul>
	<li>A real geographic location can be added in the GeoLocation tab. 
	If a city location is added it is important to add latitude and longitude information
	(can be found on wikipedia or google maps)</li>
 	<li>A fictional location or a combination of multiple (geographic) locations 
	 can be added in the UserLocation tab</li>
	</ul>
	
	
    </div>
</div>
<hr> 


{% if view == "inline" %}
	<a type="reset" value="Cancel" class ="btn btn-light"
	href="{% url 'utilities:close' %}">Cancel</a>
{% endif %}


{{form.media.js}}

{% include 'utilities/tab_selector.html' %}

{% endblock content %}


 
