{% extends "catalogue/base.html" %}
{% block content %}

<div>
	<div style="float:left">
	<!-- <button onclick="oslo()">Oslo</button> -->

	<table class="table table-hover">
		<tr class="table-primary">
		<!-- create header -->
		{% for attr in location_list.0.table_header%}
			<!-- <th><a href="?order_by={{attr}}"> {{ attr }}</a></th> -->
			<th> {{ attr }}</th>
		{% endfor %}
		</tr>
		{% for l in location_list %}
		<tr onmouseover='show_loc({{l.latitude}},{{l.longitude}},"{{l.name}}")'>
			{% for attr in l.table %}
				{% if attr|length > 18 %}
					<!-- truncate long strings -->
					<td>{{ attr|truncatechars:12}}</td>
				{% else %}
					<td>{{ attr }}</td>
				{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
	</table>

</div>
	<div> 
	{% include "locations/map_location.html" %}
	</div>
</div>
<script>
function oslo(){
	var mapObject = $('#map').vectorMap('get', 'mapObject');
	mapObject.setFocus({lat:60,lng:11,x:1,y:1,scale:3});
	mapObject.addMarker('oslo',{latLng:[59.91273,10.74609],name:'Oslo'})
};
function show_loc(latitude,longitude,name){
	remove_loc();
	var mapObject = $('#map').vectorMap('get', 'mapObject');
	mapObject.setFocus({lat:latitude,lng:longitude,x:1,y:1,scale:3});
	mapObject.addMarker(name,{latLng:[latitude,longitude],name:name})
};
function remove_loc(){
	var mapObject = $('#map').vectorMap('get', 'mapObject');
	mapObject.removeAllMarkers();
};
</script>

{% endblock content %}
