
<!-- test view to print data in a table from model --> 
{% extends "utilities/base.html" %}

{% block head %}
	<title>{{page_name}}</title>
{% endblock %}

{% block content %}
{% include 'utilities/list_search_bar.html' %}
{% if location_list %}

<div class="d-flex">
<table class="table table-hover">
	<tr> 
	<th><a href="?order_by=name,{{order}},{{direction}},{{query}}" 
		style="text-decoration:none;">Name</a></th>
	<th class="text-primary">Country</th>
	<th class="text-primary">Region</th>
	<th class="text-primary">Status</th>
	<th></th>
	</tr>
	{% for location in location_list %}
		<td>{{location.name}}</td>
		<td>{{location.country}}</td>
		<td>{{location.region}}</td>
		<td>{{location.location_status}}</td>
		<td style="white-space:nowrap;"><a class = "btn btn-link btn-sm ml-auto"
        href ="{% url 'locations:delete' location.pk 'Location' %}"
        role="button"><i class="fa fa-trash text-secondary"></i></a>
		<a class = "btn btn-link btn-sm ml-auto"
        href ="{% url 'locations:edit_location' location.pk %}"
        role="button"><i class="far fa-edit text-secondary"></i></a></td>
	</tr>
	{% endfor %}
</table>

<a class ="btn btn-link ml-auto" href="{% url 'locations:add_location' %}" 
role="button">Add location</a>
</div>


{% else %}
	<p>no locations are available</p>
{% endif %}
{% endblock content %}
