
<!-- test view to print data in a table from model --> 
{% extends "utilities/base.html" %}

{% block head %}
	<title>{{page_name}}</title>
{% endblock %}

{% block content %}
{% if location_list %}

<div class="d-flex">
<table class="table table-hover">
	<tr> 
	<th>name</th>
	<th>country</th>
	<th>status</th>
	</tr>
	{% for location in location_list %}
		<td>{{location.name}}</td>
		<td>{{location.country}}</td>
		<td>{{location.status}}</td>
	</tr>
	{% endfor %}
</table>

<a class ="btn btn-link ml-auto" href="{% url 'locations:add_location' %}" 
role="button">Add location</a>
</div>


{% else %}
	<p>no locations are available</p>
{% endif %}
{% endblock content %}
