{% extends "utilities/base.html" %}

{% load getattribute %}

{% block head %}
	<title>{{page_name}}</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
	integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
	crossorigin=""/>
	<!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>
	<style>
		#mapid {height: 840px;}
	</style>
{% endblock %}

{% block content %}
{% include 'locations/icons.html' %}
<div id="mapid" class="mt-0"></div>
{{maplist|json_script:"map-list"}}
{{link_list|json_script:"link-list"}}


<script>
var mymap = L.map('mapid').setView([52.0055328,4.67565177],5);

const attribution = 
	'&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap contributors &copy; <a href="https://carto.com/attribution">CARTO</a>'
const tileUrl = 'https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png'

const tiles = L.tileLayer(tileUrl,{attribution});
tiles.addTo(mymap);

<!-- https://github.com/jawj/OverlappingMarkerSpiderfier-Leaflet to handle overlapping markers -->
var oms = new OverlappingMarkerSpiderfier(mymap,{keepSpiderfied:true});


function onMapClick(e) {
	<!-- alert("You clicked the map at "+e.latlng); -->
	console.log(e.latlng);
	console.log(e);
	}

function make_marker(name,latlng,popup,markerid) {
	latlng = latlng.split(',').map(Number);
	if (latlng == 0) {return false}
	var marker = L.marker(latlng,{icon:make_icon(name), className:markerid})
	marker.bindPopup(popup,{maxWidth:200,closeButton:false})
	oms.addMarker(marker);
	console.log(name,12345);
	layerDict[name].push(marker)
	return marker;
}


function onmarkerClick(e) {
	var s = this.options.className;
	console.log(s);
	console.log(this);
}

var names = 'text,illustration,publication,publisher,periodical,person,movement'.split(',');
layerDict = {}
for (i = 0; i<names.length; i++) {
	layerDict[names[i]] = []
	console.log(colorDict[names[i]],names[i],i);
}


var bounds = []; 
var maplist = JSON.parse(document.getElementById('map-list').textContent);
for (i = 0; i<maplist.length; i++) {
	var latlng = maplist[i][1].split(',').map(Number);
	bounds.push(latlng);
	make_marker(...maplist[i]);
}

var linklist= JSON.parse(document.getElementById('link-list').textContent);

for (i = 0; i<linklist.length; i++) {
	var marker = make_marker(...linklist[i]);
	var latlng = linklist[i][1].split(',').map(Number);
	if (latlng == 0) {continue;}
	bounds.push(latlng);
	var name = linklist[i][0];
	var role = linklist[i][4];
	if (i == 0) {var start = latlng;}
	if (i > 0) {var end = latlng;
		var polyline = L.polyline([start,end], {color:colorDict[name],
		weight:2,opacity:0.3,className:role});
		polyline.bindTooltip(role,{sticky:true, interactive:true});
		console.log(polyline);
		layerDict[name].push(polyline)
	}
	if (marker) {marker.bindTooltip(role,{sticky:true, interactive:true});}
}
<!-- set map to fit the placed markers --> 
var polyline = L.polyline(bounds);
if (bounds.length > 1) { mymap.fitBounds(polyline.getBounds());}
else {mymap.setView(bounds[0],9);}


var overlayMarkers= {};
for (const [key, value] of Object.entries(layerDict)) {
	var color = colorDict[key]
	var layername = '<span style="color:'+color+';">'+key+'</span>'
	console.log(layername);
	if ( value.length > 0) {overlayMarkers[layername]=L.layerGroup(value).addTo(mymap)};
}
L.control.layers({},overlayMarkers,{collapsed:false}).addTo(mymap);

console.log(colorDict['text']);

</script>
 
<style>
/* css to customize Leaflet default styles  */
.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
	text-align:center;
	padding:6px;
}

.leaflet-popup-content {
	margin:0px;
	padding:0px;
}

.leaflet-popup-content p {
	margin:0px;
	padding:0px;
}

.leaflet-control-layers-selector input[type="checkbox" i] {
	background-color:black;
	color:black;
}

.leaflet-control-layers-selector {
	display:none;
}



</style>
{% endblock %}

