{% extends "utilities/base.html" %}

{% load getattribute %}
{% load static %}

{% block head %}
	<title>{{page_name}}</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
	integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
	crossorigin=""/>
	<!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>
	<style>
		#mapid {height: 640px;}
	</style>
<link href={% static "locations/nouislider.css" %} rel="stylesheet">
<script src={% static "locations/nouislider.js" %}></script>
{% endblock %}

{% block content %}
<br>
<div id="years"></div>
<br>
<div id="mapid" class="mt-0"></div>
{{figures|json_script:"figuresjs"}}
{{styles|json_script:"stylesjs"}}


<small>map opacity</small>
<div id="map_opacity" class="col-2 mt-1"></div> 


<script>


var mymap = L.map('mapid').setView([30.041394878798638,31.237350234985355],14);
var tiles= 
L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth/{z}/{x}/{y}{r}.png', {
maxZoom: 20,
opacity: 0.4,
attribution: '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
});


tiles.addTo(mymap);


function onMapClick(e) {
	<!-- alert("You clicked the map at "+e.latlng); -->
	console.log(e.latlng);
	console.log(e);
	}

function make_marker(name,latlng,popup,markerid) {
	latlng = latlng.split(',').map(Number);
	if (latlng == 0) {return false}
	var marker = L.marker(latlng,{icon:make_icon(name), className:markerid})
	marker.bindPopup(popup,{maxWidth:200,closeButton:false})
	oms.addMarker(marker);
	console.log(name,12345);
	layerDict[name].push(marker)
	return marker;
}


function onmarkerClick(e) {
	var s = this.options.className;
	console.log(s);
	console.log(this);
}

function onEachFeature(feature,layer) {
	//binds the pop up and tool tip to each feature
	//skips tooltips for districts because they 'steal' the tooltip from other objects
	layer.bindPopup(feature.pop_up,{maxWidth:200,closeButton:false});
	if (!layer.feature.tool_tip.toLowerCase().includes('district')) {
	layer.bindTooltip(feature.tool_tip);
	}
}

function make_pop_up(figure) {
	//create a pop up based on the figure information
	[app_name,model_name] = figure.model.split('.')
	if (figure.fields.name.toLowerCase().includes('district')) {
	var m = '<p class="mt-0 mb-0">'+figure.fields.name+'</p>'
	}
	else {
	var m = '<h5 class="mt-2 mb-0">'+figure.fields.name+'</h5>'
	m += '<p class="mt-2 mb-0">'+figure.fields.description+'</p>'
	m += '<a class = "btn btn-link btn-sm mt-1 pl-0 text-dark" href='
	m += '/'+app_name+'/edit_' + model_name+'/' + figure.pk 
	m += ' role="button"><i class="far fa-edit"></i></a>'
	}
	return m
}

function add_popup_and_tooltip(data,pop_up,figure_name) {
	//set the pop up and tool tip on geojson features 
	for (i=0;i<data.features.length;i++){
		var feature = data.features[i]
		feature['pop_up'] = pop_up
		feature['tool_tip']= figure_name
	}
}

async function add_figure(figure) {
	//function loads the json figure connected to figure through ajax
	//fetches the correct style and creates a popup and tooltip
	const response = await fetch('/locations/geojson_file/'+figure.fields.geojson)
	const data = await response.json()
	style = make_style(figure);
	var pop_up = make_pop_up(figure);
	add_popup_and_tooltip(data,pop_up,figure.fields.name)
	var geosjson_layer = L.geoJSON(data,{style:style,onEachFeature:onEachFeature})
	layers.push({'figure':figure,'layer':geosjson_layer,'style':style})
}

function get_style(pk) {
	//style is a foreign key on the figure object, this function returns the correct style based on 
	// the pk
	for (i = 0; i<styles.length; i++) {
		if (styles[i].pk == pk) {return styles[i]}
	}
	return '#CCFFAA'
}

function make_style(figure){
	//create a dict that sets the style of a figure (based on the style objects in the database
	style= get_style(figure.fields.style);
	var myStyle = {
		"color": style.fields.color,
		"weight": style.fields.stroke_weight,
		"opacity": style.fields.stroke_opacity,
		"fillOpacity": style.fields.fill_opacity,
		"z_index": style.fields.z_index
	};
	if (style.fields.dashed) {myStyle ={...myStyle,...{"dashArray": '20, 20'}}}
	return myStyle
}

function check_overlap(low,high){
	//compare start and end date of a figure with start end date of the year slider
	if (low <= start && high >= start){ return true;}
	if (low <= end && high >= start){ return true;}
	return false;
}

function show_layers(){
	//show the figures in the order of the z index
	layers.sort((a,b) => a.style.z_index - b.style.z_index)
	for (i = 0; i<layers.length; i++) {
		layer = layers[i];
		//check whether a figure overlaps with the current time range and only plot those that do
		overlap = check_overlap(layer.figure.fields.start_date, layer.figure.fields.end_date)
		if (overlap) {mymap.addLayer(layer.layer); console.log('add',layer,overlap)}
		else {mymap.removeLayer(layer.layer);console.log('remove',layer,overlap)}
	}
}

function handleYearSlider(values) {
	//set start and end values based on the year slider, this is used to determine which
	//figures are shown
	start= values[0];
	end= values[1];
	show_layers();
}

async function check_done_loading(list,expected_n) {
	//check whether the expected_n number of values are loaded into the array list
	while (true) {
		await new Promise(r => setTimeout(r,100));
		if (list.length == expected_n) {break;}
	}
	show_layers();
}

//array to hold the figures
var layers = [];
//start and end date of the year slider
var start = 1000;
var end = 1400;
//load the json provided by the django view
styles = JSON.parse(document.getElementById('stylesjs').textContent)
figures = JSON.parse(document.getElementById('figuresjs').textContent)
for (i = 0; i<figures.length; i++) {
	//create figures to plot on the leaflet map
	add_figure(figures[i]);
}
mymap.addEventListener('click', onMapClick);
//figures load geojson files with ajax, check if they are loaded an show them on the map
check_done_loading(layers,figures.length);

//create slider to control opacity of the map tiles
var slider = document.getElementById('map_opacity');
noUiSlider.create(slider, {
	start: [30],
	range: {'min':0,'max':100},
	steps: 1,
});

var multi_slider = document.getElementById('years');
noUiSlider.create(multi_slider, {
	start: [start, end],
	connect: true,
	range: {'min':500,'max':1500},
	steps: 50,
	tooltips: true,
	format: {to: function (value) {return Math.floor(value)},from: function (value) {return Math.floor(value)}},
});

multi_slider.noUiSlider.on('change',handleYearSlider);
slider.noUiSlider.on('slide',function(value){tiles.setOpacity(value/100);});

</script>
 
<style>

/* no box around tooltip (numbers above the handles);
 */
.noUi-tooltip {
  border: 0px; 
  padding: 0px;
}

/* style handles;
 */
.noUi-handle {
    border: 1px solid black;
    border-radius: 5px;
    background: black;
    box-shadow:none; 
	width: 15px !important;
	height:15px !important;
	right: -5px !important;
	font-size: 14px;
}
/* make handel white on hover
*/
.noUi-handle:hover{
	background:white;
}

/* Handle stripes;(remove them)
 */
.noUi-handle:before,
.noUi-handle:after {
  width: 0px;
}

/* remove blue outline on pressed handle
 */
.noUi-handle:focus {
	outline:none;
}

.noUi-active {
  box-shadow: none;
}

/* connect bar color  */
.noUi-connect {
	background:black;
}

.noUi-horizontal, .noUi-vertical {
    background: lightgrey;
	height:2px;
	border:0px solid grey;
 }

/* css to customize Leaflet default styles  */

.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
	text-align:center;
	padding:6px;
}

.leaflet-popup-content {
	margin:0px;
	padding:0px;
}

.leaflet-popup-content p {
	margin:0px;
	padding:0px;
}


.leaflet-control-layers-selector input[type="checkbox" i] {
	background-color:black;
	color:black;
}

.leaflet-control-layers-selector {
	display:none;
}

.leaflet-container {
    background-color:rgba(255,255,255,100.0);
}


</style>
{% endblock %}

