{% extends "utilities/base.html" %}
{% load static %}
{% load getattribute %}

{% block head %}
	<title>{{page_name}}</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
	integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
	crossorigin=""/>
	<link rel="stylesheet"
		href="{% static 'locations/map.css' %}" />
	<!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
	<style>
		#mapid {height: 820px;}
	</style>
{% endblock %}

{% block wide %}
{% include 'locations/icons.html' %}

<div class="map_screen" id="content">
	<div class="sidebar" id="mySidebar">
		<div class="", id="sidebar-content">
			<div class="close-sidebar">
				<a href="javascript:void(0)" 
					class="closebtn" onclick="close_nav()">
					<i class="fas fa-times-circle"></i>
				</a>
			</div>
		</div>
		<br><br><br><br><br><br><br>
	</div>
	<p id="city_label", class ="city_label">&nbsp;</p>
	<div id="mapid" class="mt-0 map"></div>
</div>


{{d|json_script:"d"}}


<script src="{% static 'locations/cluster.js' %}">
</script>
<script src="{% static 'locations/map.js' %}">
</script>

 
{% endblock %}

