
<table class="table table-borderless" >
	<tr class="d-flex">
		<th class="col-2">first name</th>
		<td class="col-8">{{form.first_name}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">last name</th>
		<td class="col-8">{{form.last_name}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">sex</th>
		<td class="col-8">{{form.sex}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">born</th>
		<td class="col-8">{{form.birth_year}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">birth place</th>
		<td class="col-8">{{form.birth_place}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">died</th>
		<td class="col-8">{{form.death_year}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">Death place</th>
		<td class="col-8">{{form.death_place}}</td>
	</tr>
</table>
