
<table class="table table-borderless" >
	<tr class="d-flex">
		<th class="col-2">first name</th>
		<td class="col-8">{{form.first_name}} {{form.first_name.errors}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">last name</th>
		<td class="col-8">{{form.last_name}} {{form.last_name.errors}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">sex</th>
		<td class="col-8">{{form.sex}} {{form.sex.errors}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">born</th>
		<td class="col-8">{{form.birth_year}} {{form.birth_year.errors}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">birth place</th>
		<td class="col-8">{{form.birth_place}} {{form.birth_place.errors}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">died</th>
		<td class="col-8">{{form.death_year}} {{form.death_year.errors}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">death place</th>
		<td class="col-8">{{form.death_place}} {{form.death_place.errors}}</td>
	</tr>
</table>
