{% extends "utilities/base.html" %}

{% block head %}
	{{form.media.css}}
{% endblock %}

{% block content %}
<div class="col-md-12 d-flex">
<h4 class="mt-2">{{page_name}}</h4> 
{% if page_name == "Edit Person"%}
<a class ="btn btn-link ml-auto" href="{% url 'persons:add_person' %}"
role="button">add person</a>
{% endif %}
<a class ="btn btn-link ml-auto" href="{% url 'persons:person_list' %}" role="button">person list</a>
</div>


<form name="myform" id="myform" method = "post" onsubmit="dosubmit();">
    {% csrf_token %}

<!-- adding or editing a person -->

{% include 'utilities/edit_minimize_tab.html' %}

<div class="tab-content">
    <div class="tab-pane fade" id="Edit">
		<!-- person form is defined in a seperate template -->
		{% if page_name == "Edit Person" and 'unknown' not in crud.last_update %}
			{% include 'utilities/change_log.html' %}
			{% else %} <p class="mb-4"></p>
		{% endif %}
		{% include 'persons/_person_form.html' %}
    </div>
    <div class="tab-pane fade" id="Minimize">
		<!-- you can minimize the person form -->
		<br>
        <h5>{{form.instance.first_name}} {{form.instance.last_name}}</h5>
    </div>
</div>
<hr>


{% if view == "inline" %}
{% else %}

<!-- Inline formsets to linking persons to other items -->
{% include 'utilities/relation_tabs.html' %}

<div class="tab-content">
    <div class="tab-pane fade" id="Locations">

	{{location_formset.management_form}}
	<table class="table table-borderless">
	<tr class ="d-flex">
	<th class="col-4">Location</th>
	<th class="col-2">Type
		<a class = "btn btn-link btn-sm ml-auto" target = "_blank"
			href ="{% url 'persons:add_person_location_relation' %}" role="button">
			 <i class="fa fa-plus"></i></a>
		</th>
	<th class="col-2">Start</th>
	<th class="col-2">End</th>
	<th><i class="fa fa-times text-danger"></i></th>
	</tr>
	{% for f in location_formset.forms %}
		<tr class ="d-flex">
		<td class="col-4">{{f.location}} {{f.location.errors}}</td>
		<td class="col-2">{{f.relation}} {{f.relation.errors}}</td>
		<td class="col-2">{{f.start_year}}</td>
		<td class="col-2">{{f.end_year}}</td>
		<td class="col-1">{{f.DELETE}} {{f.id}}</td>
		</tr>
	{% endfor %}
	</table>
	</div>

	<div class="tab-pane fade" id="Texts">
		{{text_formset.management_form}}
		<table class="table table-borderless">
		<tr class ="d-flex">
		<th class="col-5">Text
			<a class = "btn btn-link btn-sm ml-auto" target = "_blank"
				href ="{% url 'catalogue:add_text' 'inline' %}" role="button">
				 <i class="fa fa-plus"></i></a>
			</th>
		<th class="col-5">Role
			<a class = "btn btn-link btn-sm ml-auto" target = "_blank"
				href ="{% url 'persons:add_person_text_relation_role' %}" 
				role="button"><i class="fa fa-plus"></i></a>
			</th>
		<th><i class="fa fa-times text-danger"></i></th>
		</tr>
		{% for f in text_formset.forms %}
			<tr class ="d-flex">
			<td class="col-5">{{f.text}} {{f.text.errors}}</td>
			<td class="col-5">{{f.role}} {{f.role.errors}}</td>
			<td class="col-1">{{f.DELETE}} {{f.id}}</td>
			</tr>
		{% endfor %}
		</table>
	</div>

	<div class="tab-pane fade" id="Illustrations">
		{{illustration_formset.management_form}}
		<table class="table table-borderless">
		<tr class ="d-flex">
		<th class="col-5">Illustration
			<a class = "btn btn-link btn-sm ml-auto" target = "_blank"
				href ="{% url 'catalogue:add_illustration' 'inline' %}" 
				role="button"><i class="fa fa-plus"></i></a>
			</th>
		<th class="col-5">Role
			<a class = "btn btn-link btn-sm ml-auto" target = "_blank"
				href ="{% url 'persons:add_person_illustration_relation_role' %}" 
				role="button"><i class="fa fa-plus"></i></a>
			</th>
		<th><i class="fa fa-times text-danger"></i></th>
		</tr>
		{% for f in illustration_formset.forms %}
			<tr class ="d-flex">
			<td class="col-5">{{f.illustration}} {{f.illustration.errors}}</td>
			<td class="col-5">{{f.role}} {{f.role.errors}}</td>
			<td class="col-1">{{f.DELETE}} {{f.id}}</td>
			</tr>
		{% endfor %}
	</table>
	</div>

	<div class="tab-pane fade" id="Publisher-Manager">
		{{publisher_formset.management_form}}
		<table class="table table-borderless">
		<tr class ="d-flex">
		<th class="col-5">Publisher
			<a class = "btn btn-link btn-sm ml-auto" target = "_blank"
				href ="{% url 'catalogue:add_publisher' 'inline' %}" 
				role="button"><i class="fa fa-plus"></i></a>
			</th>
		<th><i class="fa fa-times text-danger"></i></th>
		</tr>
		{% for f in publisher_formset.forms %}
			<tr class ="d-flex">
			<td class="col-5">{{f.publisher}} {{f.publisher.errors}}</td>
			<td class="col-1">{{f.DELETE}} {{f.id}}</td>
			</tr>
		{% endfor %}
	</table>
	</div>

	<div class="tab-pane fade" id="Pseudonym">
		<table class="table table-borderless">
		<tr class ="d-flex">
			<th class="col-10">Pseudonym(s)
			<a class = "btn btn-link btn-sm ml-auto" target = "_blank"
				href ="{% url 'persons:add_pseudonym' %}" 
				role="button"><i class="fa fa-plus"></i></a>
			</th>
		</tr>
		<tr class ="d-flex">
			<td class="col-10">{{form.pseudonym}} {{form.pseudonym.errors}}</td>
		</tr>
	</table>
	</div>

	<div class="tab-pane fade" id="Literary-Movement">
		{{personmovement_formset.management_form}}
		<table class="table table-borderless">
		<tr class ="d-flex">
		<th class="col-5">Literary movement
			<a class = "btn btn-link btn-sm ml-auto" target = "_blank"
				href ="{% url 'persons:add_literary_movement' 'inline' %}" 
				role="button"><i class="fa fa-plus"></i></a>
			</th>
		<th class="col-4">Role
			<a class = "btn btn-link btn-sm ml-auto" target = "_blank"
				href ="{% url 'persons:add_person_literary_movement_relation_role' %}" role="button">
				 <i class="fa fa-plus"></i></a>
			</th>
		<th><i class="fa fa-times text-danger"></i></th>
		</tr>
		{% for f in personmovement_formset.forms %}
			<tr class ="d-flex">
			<td class="col-5">{{f.literary_movement}} {{f.literary_movement.errors}}</td>
			<td class="col-4">{{f.role}} {{f.role.errors}}</td>
			<td class="col-1">{{f.DELETE}} {{f.id}}</td>
			</tr>
		{% endfor %}
	</table>
	</div>

</div>
<hr> 
{% endif %}

<input type="hidden" name="navbar" id="navbar" value="" />
<input type="hidden" name="navcontent" id="navcontent" value="" />
<input type="hidden" name="focus" id="focus" value="" />
<input type="submit" value="Save" class="btn btn-success">

{% if view == "inline" %}
	<a type="reset" value="Cancel" class ="btn btn-light"
	href="{% url 'utilities:close' %}">Cancel</a>
{% endif %}

</form>

{{form.media.js}}

{% include 'utilities/tab_selector.html' %}

{% endblock content %}


 
