{% extends "catalogue/base.html" %}
{% block head %}
	{{form.media.css}}
{% endblock %}

{% block content %}
<div class="col-md-12 d-flex">
<h4 class="mt-2">{{page_name}}</h4> 
<a class ="btn btn-link ml-auto" href="{% url 'persons:person_list' %}" role="button">person list</a>
</div>

<form name="myform" id="myform" method = "post" onsubmit="dosubmit();">
    {% csrf_token %}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#edit" id='edita' class="nav-link" data-toggle="tab">
		<i class="fa fa-pencil"></i></a>
		
    </li>
    <li class="nav-item">
        <a href="#minimize" id='minimizea' class="nav-link" data-toggle="tab">
		<i class="fa fa-power-off"></i></a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade" id="edit">

	<table class="table table-borderless" >
	<tr class="d-flex">
		<th class="col-2">First name</th>
		<td class="col-8">{{form.first_name}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">Last name</th>
		<td class="col-8">{{form.last_name}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">Sex</th>
		<td class="col-8">{{form.sex}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">Born</th>
		<td class="col-8">{{form.birth_year}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">Birth place</th>
		<td class="col-8">{{form.birth_place}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">Died</th>
		<td class="col-8">{{form.death_year}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">Death place</th>
		<td class="col-8">{{form.death_place}}</td>
	</tr>
	</table>
    </div>
    <div class="tab-pane fade" id="minimize">
		<br>
        <h5>{{form.instance.first_name}} {{form.instance.last_name}}</h5>
    </div>
</div>
<hr>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#location" id='locationa' class="nav-link" data-toggle="tab">Locations</a>
    </li>
    <li class="nav-item">
        <a href="#text" id='texta' class="nav-link" data-toggle="tab">Texts</a>
    </li>
    <li class="nav-item">
        <a href="#other" id='othera' class="nav-link" data-toggle="tab">Other</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade" id="location">

	{{formset.management_form}}
	<table class="table table-borderless">
	<tr class ="d-flex">
	<th class="col-4">Location</th>
	<th class="col-2">Type</th>
	<th class="col-2">Start</th>
	<th class="col-2">End</th>
	<th><i class="fa fa-times text-danger"></i></th>
	</tr>
	{% for f in formset.forms %}
		<tr class ="d-flex">
		<td class="col-4">{{f.location}} {{f.location.errors}}</td>
		<td class="col-2">{{f.relation}} {{f.relation.errors}}</td>
		<td class="col-2">{{f.start_year}}</td>
		<td class="col-2">{{f.end_year}}</td>
		<td class="col-1">{{f.DELETE}} {{f.id}}</td>
		</tr>
	{% endfor %}
	</table>

    </div>
    <div class="tab-pane fade" id="text">
        <p>text..</p>
    </div>
    <div class="tab-pane fade" id="other">
        <p>other..</p>
    </div>
</div>
<hr> 
<input type="hidden" name="navbar" id="navbar" value="" />
<input type="hidden" name="navcontent" id="navcontent" value="" />
<input type="submit" value="Save" class="btn btn-success">
</form>

{{form.media.js}}

<script>
function set_active(){
	{% if navbar == 'default' %}
	document.getElementById('edita').className="nav-link active";
	document.getElementById('edit').className="tab-pane fade show active";
	document.getElementById('locationa').className="nav-link active";
	document.getElementById('location').className="tab-pane fade show active";
	{% else %}
	{% for nt in navbar %}
		document.getElementById('{{nt}}').className="nav-link active";
	{% endfor %}

	{% for nc in navcontent %}
		document.getElementById('{{nc}}').className="tab-pane fade show active";
	{% endfor %}
	{% endif %}
};

function get_tab_state(){
	var tab = get_ids("nav-link active")
	var content = get_ids("show active")
}

function get_ids(classname){
	var x = document.getElementsByClassName(classname);
	var i, arr = [];
	for (i=0; i < x.length; i++) {
	arr.push(x[i].id);
	}
	return arr;
}

function dosubmit(){
	document.getElementById('navbar').value = get_ids("nav-link active");
	document.getElementById('navcontent').value = get_ids("show active");
	return true;
}


$(document).ready(function(){set_active();});
</script>

{% endblock content %}


 
