<!-- test view to print data in a table from model --> 
{% extends "utilities/base.html" %}
{% if movement_list %}

{% block content %}

<div class="d-flex">

<table class="table table-hover">
	<tr> 
	<th>Name</th>
	<th>Location</th>
	</tr>
	{% for movement in movement_list %}
	<tr onclick='window.location="{% url 'persons:edit_movement' movement.pk %}"'>
		<td>{{movement.name}}</td>
		<td>{{movement.location_string}}</td>
	</tr>
	{% endfor %}
</table>

<a class ="btn btn-link ml-auto" href="{% url 'persons:add_movement' %}" role="button">Add movement</a>
</div>

{% endblock content %}

{% else %}
	<p>no movements are available</p>
{% endif %}

<!-- minimal style to make the table more readable -->
<!-- <style> -->
<!-- table { -->
<!-- 	border-spacing: 20px 0; -->
<!-- } -->
<!-- th { -->
<!-- 	color: blue; -->
<!-- } -->
<!-- </style> -->
<!-- test -->
