<!-- test view to print data in a table from model --> 
{% extends "utilities/base.html" %}
{% if movement_list %}

{% block content %}

<div class="d-flex">
	{% include 'utilities/list_search_bar.html' %}
<a class ="btn btn-link ml-auto" href="{% url 'persons:add_movement' %}"
 role="button">Add movement</a>
</div>

<div class="d-flex">

<table class="table">
	<tr> 
	<th><a href="?order_by=name,{{order}},{{direction}},{{query}}" 
		style="text-decoration:none;">Name</a></th>
	<th><a href="?order_by=location,{{order}},{{direction}},{{query}}" 
		style="text-decoration:none;">Location</a></th>
	<th></th>
	</tr>
	{% for movement in movement_list %}
		<td>{{movement.name}}</td>
		<td>{{movement.location_str}}</td>
		<td style="white-space:nowrap;"><a class = "btn btn-link btn-sm ml-auto"
        href ="{% url 'persons:delete' movement.pk 'Movement' %}"
        role="button"><i class="fa fa-trash text-secondary"></i></a>
		<a class = "btn btn-link btn-sm ml-auto"
        href ="{% url 'persons:edit_movement' movement.pk %}"
        role="button"><i class="far fa-edit text-secondary"></i></a></td>
	</tr>
	{% endfor %}
</table>

</div>

{% endblock content %}

{% else %}
	<p>no movements are available</p>
{% endif %}

<!-- minimal style to make the table more readable -->
<!-- <style> -->
<!-- table { -->
<!-- 	border-spacing: 20px 0; -->
<!-- } -->
<!-- th { -->
<!-- 	color: blue; -->
<!-- } -->
<!-- </style> -->
<!-- test -->
