<!-- test view to print data in a table from model --> 
{% extends "utilities/base.html" %}
{% if person_list %}

{% block content %}

<div class="d-flex">

<table class="table">
	<tr class="table-primary">
	<!-- create header -->
	{% for attr in person_list.0.attribute_names_hr%}
		<th> {{ attr }} </th>
	{% endfor %}
	</tr>
	{% for person in person_list %}
		{% for attr in person.listify %}
			{% if attr|length > 12 %}
				<!-- truncate long strings -->
				<td>{{ attr|truncatechars:12}}</td>
			{% else %}
				<td>{{ attr }}</td>
			{% endif %}
		{% endfor %}
		<td><a class = "btn btn-link btn-sm ml-auto"
        href ="{% url 'persons:delete' person.pk 'Person' %}"
        role="button"><i class="fa fa-trash text-secondary"></i></a></td>
		<td><a class = "btn btn-link btn-sm ml-auto"
        href ="{% url 'persons:edit_person' person.pk %}"
        role="button"><i class="far fa-edit text-secondary"></i></a></td>
	</tr>
	{% endfor %}
</table>
<a class ="btn btn-link ml-auto" href="{% url 'persons:add_person' %}" role="button">Add person</a>
</div>

{% endblock content %}

{% else %}
	<p>no persons are available</p>
{% endif %}

<!-- minimal style to make the table more readable -->
<!-- <style> -->
<!-- table { -->
<!-- 	border-spacing: 20px 0; -->
<!-- } -->
<!-- th { -->
<!-- 	color: blue; -->
<!-- } -->
<!-- </style> -->
<!-- test -->
