*.DS_Store
*.pyc
*.swp
*.xlsx
__pychache__
catalogue/SWP/
catalogue/migrations/*
persons/migrations/*
locations/migrations/*
utilities/migrations/*
data/
node_modules/
package.json
yarn.lock
db.sqlite3
JUNK/
catalogue/templates/catalogue/OLD/
.gitignore
.env
static/
