{% extends "utilities/base.html" %}
{% block head %}
	<title>{{page_name}}</title>
{% endblock %}

{% block content %}
<h4>{{user.first_name}} {{user.last_name}}</h4>
<div class="d-flex">
	<h5 class="mb-1">{{user.username}}</h5> 
	<p class="ml-5 mb-1">Last update: {{crud.created_time}}</p>
</div>
<br>
<p class="small text-dark">number of items added to database {{nitems}}</p>
<hr class="mt-0 mb-4">


<table class="table table-borderless" id="table">
{% for instance in crud.all_created_instances%}
    <tr class="d-flex">
        <td class="col-2">
            <span class="text-secondary">{{instance.model_name}}</span>
        </td>
	{% if instance.link %}
        <td class="col-6">
            <a 
                class="text-dark" 
                href="{{instance.link}}" 
                style="text-decoration:none;">
                {{instance.object_str}}
            </a>
        <td>
	{% else %}
        <td class="col-6">
            <span class="text-secondary">{{instance.object_str}}</span>
        </td>
	{% endif %}
        <td class="col-2">
            <span class="small text-secondary">{{instance.time_str}}</span>
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
