{% extends "utilities/base.html" %}
{% block head %}
	<title>{{page_name}}</title>
{% endblock %}

{% block content %}
<h4>{{user.first_name}} {{user.last_name}}</h4>
<div class="d-flex">
	<h5 class="mb-1">{{user.username}}</h5> 
	<p class="ml-5 mb-1">Last update: {{crud.last_update_time}}</p>
</div>
<hr class="mt-0 mb-4">

{% for line in crud.updates_str_hide_user %}
	{% if line.1 %}
		<p><a class="small text-dark" href="{{line.1}}" style="text-decoration:none;">{{line.0}}</a><p>
	{% else %}
		<p class="small text-secondary">{{line.0}}</p>
	{% endif %}

{% endfor %}

{% endblock %}
