<style>
body {
	background-color:#e4ebed;
	}

.category{
	text-align:center;
}
.title {
	text-align:center;
	font-size:1.8em;
	margin-bottom:0px;
	margin-top:5px;
	font-family: "Helvetica Neue";
	font-weight:bold;
	color:#112442;
}
.date{
	text-align:right;
	margin-bottom:1px;
	font-size:0.95em;
	color:darkgrey;
} 
.one-line {
	display:inline;
}
.info-header {
	color:#112442;
	font-weight:bold;
}
.info-italic {
	color:#112442;
	font-style:italic;
	display:inline-block;
	margin-top:5px;
}

.indent {
	margin-left:30px;
}

.link-color {
	color:black;
	text-decoration:underline;
}
hr {
	margin-top:0px;
}
</style>
