<div class="d-flex">

	<div class="col-11">
	<form>
	  <div class="d-flex">

		<a class= role="button" 
			href="#" onclick="show_extended_search_list();">
			<p class="text-secondary small text-center pt-0">
			<i id = 'extra_search_icon' class="fas fa-chevron-down mt-3"></i></p></a>

		<button id ="query" class="btn btn-link mb-0"  type="submit">
			<i class="fas fa-search"></i></button>
		<input id="exampleFormControlInput1" type="text" name="query" placeholder=Search
			class="col-9 mb-1" style="border-width:0;border-bottom-width:1px;" 
			value="{{query}}" >
		<input type="hidden" name="order" id="order" value="{{order}}" />
		<input type="hidden" name="direction" id="direction" value="{{direction}}" />
		<input type="hidden" name="active_search_buttons" id="active_search_buttons" value="" />
		<input type="hidden" name="active_special_term_buttons" 
			id="active_special_term_buttons" value="" />
		<input type="hidden" name="extended_search" id="extended_search" 
			value={{extended_search}} />
	  </div>
		<p class="text-secondary small ml-3" >{{nentries}}<p>
	</form>
	</div>

{% with app_name|add:":add_"|add:name as add_instance %}
	<a class ="btn btn-link ml-auto" href="{% url add_instance  %}"
	role="button">Add {{name}}</a>
{% endwith %}
</div>

<div id="extended_search_list" style={{extended_search}}>
</div>


{{search_fields|json_script:"js_search_fields"}}
{{active_search_buttons|json_script:"js_asb"}}
{{active_special_term_buttons|json_script:"js_stb"}}

<script>
var query= document.getElementById('query')
query.addEventListener('click',before_search)

var search_fields= JSON.parse(document.getElementById('js_search_fields').textContent);
var active_search_buttons= JSON.parse(document.getElementById('js_asb').textContent);
var active_special_term_buttons= JSON.parse(document.getElementById('js_stb').textContent);
var special_terms = 'combine words,combine columns,exact,empty'.split(',')

for (i = 0; i<search_fields.length; i++) {
	make_button(search_fields[i],'button_search_field');
}

for (i = 0; i<special_terms.length;i++) {
	make_button(special_terms[i],'button_special_term');
}

set_active_buttons();

function before_search() {
	check_active_buttons();
}

function check_active_buttons() {
	//checks which buttons are active
	var active_buttons = []
	var search_fields = []
	var special_terms = []

	var buttons = document.getElementsByClassName('search_button')
	for (i = 0; i<buttons.length;i++) {
		button = buttons[i];
		if ( button.classList.contains('selected') ) {
			if (button.classList.contains('button_search_field')) {
				search_fields.push(button.name)}
			if (button.classList.contains('button_special_term')) {
				special_terms.push(button.name)}
			active_buttons.push(button.innerHTML)
		}
	}
	document.getElementById('active_search_buttons').value = search_fields.join()
	document.getElementById('active_special_term_buttons').value = special_terms.join()
	console.log(search_fields,1);
	console.log(special_terms,2);
}

function set_active_buttons() {
	//sets a button active on loading page based on on the value of the input vield
	// active_search_buttons and active_special_term_buttons
	var buttons = document.getElementsByClassName('search_button')
	//console.log(active_search_buttons,12345)
	for (i = 0; i<buttons.length;i++) {
		if (!buttons[i].classList.contains('selected') ) {
			if (active_search_buttons.includes(buttons[i].name)) {
				buttons[i].classList.add('selected');
			}
			if (active_special_term_buttons.includes(buttons[i].name)) {
				buttons[i].classList.add('selected');
				console.log(buttons[i].innerHTML)
				if (buttons[i].innerHTML == 'empty') {toggle_exact_and_combine_words(enable=false);}
			}
		}
	}
}
		
function make_button(name, button_type) {
	//creates a button to indicate search field or special term
	var button = document.createElement('button');
	button.innerHTML = name.replace('_',' ');
	button.name = name;
	button.id = name + '_button'
	button.classList.add('search_button')
	button.classList.add(button_type)
	button.addEventListener('click',highlight);
	var button_location = document.getElementById('extended_search_list')
	button_location.append(button)
}


function show_extended_search_list(){
	//determines whether search field and special term buttons are shown; on by default
	var x = document.getElementById("extended_search_list");
	var y = document.getElementById("extended_search");
	if (x.style.display === "none") {
		x.style.display = "block";
		y.value = "display:block";
		var i = document.getElementById('extra_search_icon')
		i.classList.remove('fa-chevron-down')
		i.classList.add('fa-chevron-up')
	 } else {
		x.style.display = "none";
		y.value = "display:none";
		var i = document.getElementById('extra_search_icon')
		i.classList.remove('fa-chevron-up')
		i.classList.add('fa-chevron-down')
  }
}

function highlight(event) {
	//toggles a button between active or not active i.e. selected or not selected
	b = event.toElement;
	if (b.classList.contains('disabled')) {}// do nothing if a button is disabled
	else if (b.classList.contains('selected')) {
		b.classList.remove('selected') 
		if (b.innerHTML == 'empty') {toggle_exact_and_combine_words(enable=true);}
		}
	else {
		b.classList.add('selected')
		if (b.innerHTML == 'empty') {toggle_exact_and_combine_words(enable=false);}
		}
	//check_active_buttons();
}

function toggle_exact_and_combine_words(enable) {
	var buttons = document.getElementsByClassName('search_button')
	var query_field = document.getElementById('exampleFormControlInput1')
	var items= 'exact,combine words'.split(',');
	for (i = 0; i<buttons.length;i++) {
		b = buttons[i]
		if (items.includes(b.innerHTML)) {
			if (enable) {
				b.classList.add('button_special_term');
				b.classList.remove('disabled');
				}
			else {
				b.classList.remove('button_special_term');
				b.classList.add('disabled');
				query_field.value= '';
				}
			}
	}
}
		
	
	

function clear_highlights() {
	var buttons = getElementsByClassName()
	for (i = 0; i<buttons.length;i++) {
		button.classList.remove('selected');
	}
}
		

</script>

<style>
.search_button {
  border: none;
  color: white;
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 3px;
}

.button_search_field {
  background-color: white; 
  color: #adcaf7; 
  border: 1px solid #adcaf7;
}

.button_search_field:hover {
  background-color: #c5dafc;
  color: white;
}

.button_special_term{
  background-color: white; 
  color: #facd4b; 
  border: 1px solid #fce092;
}

.button_special_term:hover {
  background-color: #fce8ae;
  color: white;
}


.button_search_field.selected {
	background-color:#89b5fa;
	color:white;
    border: 1px solid #89b5fa; 
}

.button_special_term.selected {
	background-color:#fcdb7c;
	color:white;
    border: 1px solid #fcdb7c; 
}


.button_search_field:focus{
	outline-color:#c5dafc;
}

.button_special_term:focus{
	outline-color:#facd4b;
}

.disabled: {
	background-color = white;
	color = #999999;
    border: 1px solid #999999; 
}
.disabled:focus{
	outline:0;
}


</style>
