<form>
  <div class="d-flex">
	<button class="btn btn-link mb-0"  type="submit"><i class="fas fa-search"></i></button>
	<input id="exampleFormControlInput1" type="text" name="query" placeholder=Search
		class="col-9 mb-1" style="border-width:0;border-bottom-width:1px;" 
		value="{{query}}">
	<input type="hidden" name="order" id="order" value="{{order}}" />
	<input type="hidden" name="direction" id="direction" value="{{direction}}" />
  </div>
	<p class="text-secondary small ml-3" ># Entries: {{nentries}}<p>
</form>
