{% extends "utilities/base.html" %}
{% load getattribute %} 

{% block head %}
	{{form.media.css}}
	<title>{{page_name}}</title>
{% endblock %}

{% block content %}

<div class="block">
	<table class="table table-borderless center" id="form_table">
		{% for key, value in totals.items %}
			<tr class="d-flex">
				<th class="col-4"></th>
				<td class="col-2">{{key}}s:</th>
				<td class="col-4">{{value}}</td>
			</tr>
		{% endfor %}
		<tr class="d-flex">
			<th class="col-4"></th>
			<td class="col-2">total:</th>
			<td class="col-4">{{total}}</td>
		</tr>
		<tr class="d-flex">
			<th class="col-4"></th>
			<td class="col-2">countries represented in the database:</th>
			<td class="col-4">
			{% for country in countries %}
				{% if forloop.last %}
					{{country}}
				{% else %}
					{{country}}, 
				{% endif %}
			{% endfor %}
			</td>
		</tr>
	</table>
</div>
	


<style>
.block {
	background: #e9ebf0;
}

.center {
	margin:auto;
}

{% endblock %}
