<script>
//add forms uses bootstrap taps; these function maintains the selected tab after submitting
//current tap is storing on an hidden input element passed along to the view
function set_active(){
	//sets the tabs that should be visible based on the information in tabs (passed from view)
	{% for name in tabs.focus %}
		if (document.getElementById('{{name}}a') !== null) {
		document.getElementById('{{name}}a').className="nav-link active"; }
		if (document.getElementById('{{name}}') !== null) {
		document.getElementById('{{name}}').className="tab-pane fade show active"; }
	{% endfor %}
};

function get_tab_state(){
	//gets the current tab state; OBSOLETE??
	var tab = get_ids("nav-link active")
	var content = get_ids("show active")
}

function get_ids(classname){
	var x = document.getElementsByClassName(classname);
	var i, arr = [];
	for (i=0; i < x.length; i++) {
	arr.push(x[i].id);
	}
	return arr;
}

function dosubmit(){
	//stores the current selected tab and focus to maintain the current selected tabs
	//unsure why focus1 and focus2 are in there??
	document.getElementById('focus').value = get_ids("tab-pane fade show active");
	document.getElementById('focus1').value = get_ids("tab-pane fade show active");
	document.getElementById('focus2').value = get_ids("tab-pane fade show active");
	return true;
}


$(document).ready(function(){set_active();});
</script>
