{% extends "utilities/base.html" %}

{% block head %}
	{{form.media.css}}
	<title>{{page_name}}</title>
	<script src="https://d3js.org/d3.v6.min.js"></script>
	<script src="https://d3js.org/d3-scale.v3.min.js"></script>
{% endblock %}

{% block content %}

<a href="#" class="question-link" onclick="showOverlay()">
    <i class="fas fa-question-circle"></i> Help
</a>

<div id="overlay" class="overlay">
    <div class="overlay-content">
        <!-- Add your overlay content here -->
        <h3>With this tool you can create a timeline for sets of items 
            in the database</h3>
        <p>First select a category (e.g. illustration) 
            and optionally a location (e.g. France)
            of the items you want to include in the timeline.
            Then click the "Graph" button to create the timeline.
        </p>
        <p>Each bar in the timeline represents a period of time. The height of
            the bar represents the number of items in the database that fall 
            within that period. The color of the bar indicates the category of 
            the items. The legend on the right shows the colors for each 
            category.
        </p>
        <button onclick="hideOverlay()">Close</button>
    </div>
</div>

<form name="myform" id="myform" enctype="multipart/form-data" 
method = "post" onsubmit="dosubmit();">
    {% csrf_token %}


{% if no_items_found %}
    <p>No items found for this location</p>
{% endif %}


<table class="table table-sm" id="form_table">
	<tr class="d-flex">
		<th class="col-2">category</th>
		<td class="col-3">{{form.model_name1}}</td>
		<td class="col-3">{{form.model_name2}}</td>
		<td class="col-3">{{form.model_name3}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">location</th>
		<td class="col-3">{{form.location1}}</td>
		<td class="col-3">{{form.location2}}</td>
		<td class="col-3">{{form.location3}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2"></th>
		<td class="col-3"></td>
		<td class="col-3"></td>
		<td class="col-3"></td>
	</tr>
</table>
<button type="submit" name="save" value="save" 
	class ="btn btn-primary" style="margin:3px">Graph</button>
<form>
{{timeline|json_script:"timeline"}}
{{tjson|json_script:"tjson"}}

<p id="empty-result"></p>

<div id="barplot">
</div>
<br>
<div class="grid-container col-6", id="sidebar-content">
</div>

{{form.media.js}}

<script>
// show help
    function showOverlay() {
        document.getElementById('overlay').style.display = 'flex';
    }

    function hideOverlay() {
        document.getElementById('overlay').style.display = 'none';
    }

// set the dimensions and margins of the graph
var entries = [];
var timeline= JSON.parse(document.getElementById('timeline').textContent);
var tjson= JSON.parse(document.getElementById('tjson').textContent);
tjson= JSON.parse(tjson);
console.log('tjson ---->',tjson)

function remove_entries() {
	console.log('removing entries')
	var sidebar= document.getElementById('sidebar-content');
	for (const x of entries) {
		sidebar.removeChild(x)
	}
	entries = []
}
// set the dimensions and margins of the graph
function add_instance(instance, grey) {
	console.log(instance,'adding')
	var sidebar= document.getElementById('sidebar-content');
	p =document.createElement("p");
	sidebar.appendChild(p);
	p.innerHTML = instance.name; 
	p.classList.add("grid-child");
	if (grey) {p.classList.add("grey");}
	entries.push(p)
	p =document.createElement("p");
	sidebar.appendChild(p);
	p.innerHTML = instance.years;
	p.classList.add("grid-child");
	if (grey) {p.classList.add("grey");}
	entries.push(p)
	a =document.createElement("a");
	sidebar.appendChild(a);
	a.setAttribute('href',instance.detail_url);
    a.innerHTML = '<i class="fas fa-eye"></i>';
	a.classList.add("grid-child");
	if (grey) {a.classList.add("grey");}
    console.log(a)
    entries.push(a)
}

async function get_instances(instance_identifiers) {
	var path = '/utilities/ajax_identifiers_to_instances/';
	path +=  instance_identifiers.join(',');
	const response = await fetch(path); 
	data = await response.json();
	console.log(path,data)
	var i = 0;
	for (const instance of data.instances) {
		if (i%2 ==0) {grey = false;}
		else {grey = true;}
		console.log(instance)
		add_instance(instance,grey);
		i += 1
	}
}

function show_bar(d){
	console.log(d,'<---- click',active_bar,'active bar')
	console.log(d.target.__data__,'<-date')
	if (active_bar) {active_bar.style.strokeWidth = 0;}
	active_bar = d.target
	active_bar.style.strokeWidth = "3px";
	active_bar.style.stroke= "#329c4a";
	remove_entries()
	get_instances(d.target.__data__.ids)
}

if (tjson) {
	var margin = {top: 90, right: 30, bottom: 30, left: 50},
		width = 980 - margin.left - margin.right,
		height = 600 - margin.top - margin.bottom;

	// append the svg object to the body of the page
	var svg = d3.select("#barplot")
	  .append("svg")
		.attr("width", width + margin.left + margin.right)
		.attr("height", height + margin.top + margin.bottom)
	  .append("g")
		.attr("transform",
			  "translate(" + margin.left + "," + margin.top + ")");


	var x = d3.scaleLinear()
		.domain([tjson.start_year,tjson.end_year])
		.range([0,width]);

	svg.append("g")
	  .attr("transform", "translate(0," + height + ")")
	  .call(d3.axisBottom(x).tickFormat(d3.format("d")));

	var active_bar = null;
	var bins = tjson.bins;
	console.log(bins);

	var ymax = tjson.max_bin_count
	var nticks =8 
	if (ymax < nticks) { nticks = ymax;}
	  // Y axis: scale and draw:
	var y = d3.scaleLinear()
		.range([height, 0])
		.domain([0, ymax +ymax*.1]);   
	console.log(ymax,nticks);

	svg.append("g")
	  .call(d3.axisLeft(y).ticks(nticks));


	// append the bar rectangles to the svg element
	svg.selectAll("rect")
	  .data(bins)
	  .enter()
	  .append("rect")
		.attr("x", 1)
		.attr("transform", function(d) {
			if (d.name == 'background') { count = height;} 
			else { count = d.count;}
			return "translate(" + x(d.start) + "," + y(count) + ")"; })
		.attr("width", function(d) { 
			o = x(d.end) - x(d.start)  ; 
			if (o > 0) o -= 0;
			return o
		})
		.attr("height", function(d) { 
			if (d.name == 'background') { count = height;} 
			else { count = d.count;}
			return height - y(count); })
		.attr("class","bar")
		.style("fill", function(d) {return d.color;})

	svg.selectAll('.bar')
		.on("click",show_bar);
	
	var legend_padding = 250;
	var legend = svg.append('g')
		.attr('class','legend')

	legend.selectAll('rect')
		.data(tjson.names)
		.enter()
		.append('rect')
		.attr('x',width - legend_padding)
		.attr('y', function(d, i) {
			return i *18 -margin.top;
		})
		.attr('width', 12)
		.attr('height', 12)
		.attr('fill', function(d, i) {
			return tjson[i + '_color']
		});
		
	legend.selectAll('text')
		.data(tjson.names)
		.enter()
		.append('text')
		.text(function(d) {
			return d;
		})
		.attr('x',width -legend_padding + 18)
		.attr('y', function(d ,i) {
			return i * 18 -margin.top;
		})
		.attr('text-anchor','start')
		.attr('alignment-baseline','hanging');

	svg.append("text")
		.attr("class","x label")
		.attr("text-anchor","end")
		.attr("x",width)
		.attr("y",height-6)
		.text("Date")

	svg.append("text")
		.attr("class","y label")
		.attr("text-anchor","end")
		.attr("y",6)
		.attr("dy",".75em")
		.attr("transform","rotate(-90)")
		.text("Number of items")
	
}
else {
	document.getElementById('empty-result').innerHTML = "no entries found";
}


/*
const DUMMY_DATA = [
	{id:'d1', value:9,region:'usa'},
	{id:'d2', value:11,region:'nl'},
	{id:'d3', value:14,region:'fr'},
	{id:'d4', value:3,region:'eng'},
]

const xScale = d3
	.scaleBand()
	.domain(DUMMY_DATA.map(data => data.region))
	.rangeRound([0,250])
	.padding(0.1);
const yScale = d3.scaleLinear().domain([0,15]).range([200,0]);

const container = d3.select('svg').classed('container',true);

const bars = container
	.selectAll('.bar')
	.data(DUMMY_DATA)
	.enter()
	.append('rect')
	.classed('bar',true)
	.attr('width',xScale.bandwidth())
	.attr('height', data => 200 - yScale(data.value))
	.attr('x', data => xScale(data.region))
	.attr('y', data => yScale(data.value));
*/

</script>

<style>
.container {
	width: 250px;
	height: 250px;
}
.bar {
	stroke:black;
	stroke-width:0px;
}
.bar:hover {
	stroke:blue;
	stroke-width:2px;
}
.grid-container {
	display:grid;
	grid-template-columns: 600px 180px 200px;
	align-items: top;
	margin-left:30px;
	padding-top:0px;
}


.grid-child {
	padding-left:10px;
	padding-right:10px;
	padding-top: 5px;
	padding-bottom:5px;
	margin:0px;
	margin-left:0px;
	margin-right:0px;
}

.grey {
	background-color:#edebe4;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.overlay-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 60%;
}


</style>
	

{% endblock content %}
