{% extends "utilities/base.html" %}
{% block head %}
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://d3js.org/d3-scale.v3.min.js"></script>
{% endblock %}

{% block content %}

{{text_timeline|json_script:"text-timeline"}}

<svg>
</svg>

<div id="my_dataviz"></div>
<script>
// set the dimensions and margins of the graph

var text_timeline= JSON.parse(document.getElementById('text-timeline').textContent);
text_timeline = JSON.parse(text_timeline);
var dates = []
for (var i= 0; i<text_timeline.length; i +=1) {
	x = text_timeline[i]
	dates.push(new Date(x.date));
	x.date = new Date(x.date);
}
console.log(text_timeline);
console.log(dates);

// set the dimensions and margins of the graph
var margin = {top: 10, right: 30, bottom: 30, left: 30},
    width = 800 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg = d3.select("#my_dataviz")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");


var x = d3.scaleLinear()
	.domain([1810,1960])
	.range([0,width]);

svg.append("g")
  .attr("transform", "translate(0," + height + ")")
  .call(d3.axisBottom(x).tickFormat(d3.format("d")));

var histogram =d3.histogram()
	.value(function(d) { return d.date.getFullYear()})
	.domain(x.domain())
	.thresholds(x.ticks(65));

var bins = histogram(text_timeline);
console.log(bins);

  // Y axis: scale and draw:
  var y = d3.scaleLinear()
      .range([height, 0]);
      y.domain([0, d3.max(bins, function(d) { return d.length; })]);   // d3.hist has to be called before the Y axis obviously

svg.append("g")
  .call(d3.axisLeft(y));

// append the bar rectangles to the svg element
svg.selectAll("rect")
  .data(bins)
  .enter()
  .append("rect")
	.attr("x", 1)
	.attr("transform", function(d) { return "translate(" + x(d.x0) + "," + y(d.length) + ")"; })
	.attr("width", function(d) { return x(d.x1) - x(d.x0) -1 ; })
	.attr("height", function(d) { return height - y(d.length); })
	.style("fill", "#fcba03")



/*
const DUMMY_DATA = [
	{id:'d1', value:9,region:'usa'},
	{id:'d2', value:11,region:'nl'},
	{id:'d3', value:14,region:'fr'},
	{id:'d4', value:3,region:'eng'},
]

const xScale = d3
	.scaleBand()
	.domain(DUMMY_DATA.map(data => data.region))
	.rangeRound([0,250])
	.padding(0.1);
const yScale = d3.scaleLinear().domain([0,15]).range([200,0]);

const container = d3.select('svg').classed('container',true);

const bars = container
	.selectAll('.bar')
	.data(DUMMY_DATA)
	.enter()
	.append('rect')
	.classed('bar',true)
	.attr('width',xScale.bandwidth())
	.attr('height', data => 200 - yScale(data.value))
	.attr('x', data => xScale(data.region))
	.attr('y', data => yScale(data.value));
*/

</script>

<style>
.container {
	width: 250px;
	height: 250px;
}
.bar {
	fill:#fcba03;
}
</style>
	

{% endblock content %}
