{% extends "utilities/base.html" %}

{% block head %}
	{{form.media.css}}
	<title>{{page_name}}</title>
	<script src="https://d3js.org/d3.v6.min.js"></script>
	<script src="https://d3js.org/d3-scale.v3.min.js"></script>
{% endblock %}

{% block content %}

<form name="myform" id="myform" enctype="multipart/form-data" 
method = "post" onsubmit="dosubmit();">
    {% csrf_token %}


<table class="table table-borderless" id="form_table">
	<tr class="d-flex">
		<th class="col-2">category</th>
		<td class="col-8">{{form.model_name}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">location</th>
		<td class="col-8">{{form.location}}</td>
	</tr>
<button type="submit" name="save" value="save" 
	class ="btn btn-primary">Graph</button>
</table>
<form>
{{timeline|json_script:"timeline"}}

<svg>
</svg>

{{form.media.js}}

<div id="my_dataviz"></div>
<script>
// set the dimensions and margins of the graph

var timeline= JSON.parse(document.getElementById('timeline').textContent);
timeline = JSON.parse(timeline);
var dates = []
for (var i= 0; i<timeline.length; i +=1) {
	x = timeline[i]
	dates.push(new Date(x.date));
	x.date = new Date(x.date);
}
console.log(timeline);
console.log(dates);

// set the dimensions and margins of the graph
var margin = {top: 10, right: 30, bottom: 30, left: 30},
    width = 800 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg = d3.select("#my_dataviz")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

svg.append("text")
	.attr("class","x label")
	.attr("text-anchor","end")
	.attr("x",width)
	.attr("y",height-6)
	.text("Date")

svg.append("text")
	.attr("class","y label")
	.attr("text-anchor","end")
	.attr("y",6)
	.attr("dy",".75em")
	.attr("transform","rotate(-90)")
	.text("Number of items")

var x = d3.scaleLinear()
	.domain([1810,1960])
	.range([0,width]);

svg.append("g")
  .attr("transform", "translate(0," + height + ")")
  .call(d3.axisBottom(x).tickFormat(d3.format("d")));

var histogram =d3.histogram()
	.value(function(d) { return d.date.getFullYear()})
	.domain(x.domain())
	.thresholds(x.ticks(65));

var bins = histogram(timeline);
console.log(bins);

var ymax = d3.max(bins, function(d) { return d.length; })
var nticks =8 
if (ymax < nticks) { nticks = ymax;}
  // Y axis: scale and draw:
var y = d3.scaleLinear()
	.range([height, 0])
	.domain([0, ymax +ymax*.1]);   
	// d3.hist has to be called before the Y axis obviously
console.log(ymax,nticks);

svg.append("g")
  .call(d3.axisLeft(y).ticks(nticks));

// append the bar rectangles to the svg element
svg.selectAll("rect")
  .data(bins)
  .enter()
  .append("rect")
	.attr("x", 1)
	.attr("transform", function(d) 
		{ return "translate(" + x(d.x0) + "," + y(d.length) + ")"; })
	.attr("width", function(d) { return x(d.x1) - x(d.x0) -1 ; })
	.attr("height", function(d) { return height - y(d.length); })
	.style("fill", "#fcba03")



/*
const DUMMY_DATA = [
	{id:'d1', value:9,region:'usa'},
	{id:'d2', value:11,region:'nl'},
	{id:'d3', value:14,region:'fr'},
	{id:'d4', value:3,region:'eng'},
]

const xScale = d3
	.scaleBand()
	.domain(DUMMY_DATA.map(data => data.region))
	.rangeRound([0,250])
	.padding(0.1);
const yScale = d3.scaleLinear().domain([0,15]).range([200,0]);

const container = d3.select('svg').classed('container',true);

const bars = container
	.selectAll('.bar')
	.data(DUMMY_DATA)
	.enter()
	.append('rect')
	.classed('bar',true)
	.attr('width',xScale.bandwidth())
	.attr('height', data => 200 - yScale(data.value))
	.attr('x', data => xScale(data.region))
	.attr('y', data => yScale(data.value));
*/

</script>

<style>
.container {
	width: 250px;
	height: 250px;
}
.bar {
	fill:#fcba03;
}
</style>
	

{% endblock content %}
