{% extends "utilities/base.html" %}

{% block head %}
	<title>Login</title>
{% endblock %}


{% block login %}
{{user.username}}


<div class="col-md-12 d-flex">
<h4 class="mt-2">Login</h4>
<a class ="btn btn-link ml-auto" href="{% url 'accounts:register' %}" 
role="button">Register</a>
<a class ="btn btn-link ml-auto" href="{% url 'password_reset' %}" 
role="button">Password reset</a>
</div>
<hr class="mt-0 mb-4">

<br><br>

<div class="col-md-12 d-flex">
	<div class="col-3"></div>
	<div class="col-9">

		<form method="post" action="{% url 'login' %}">
			{% csrf_token %}
			<table class="table table-borderless" >
				<tr class="d-flex">
					<th class="col-2">Username</th>
					<td class="col-8">{{form.username}}</td>
				</tr>
				<tr class="d-flex">
					<th class="col-2">Password</th>
					<td class="col-8">{{form.password}}</td>
				</tr>
				<tr class="d-flex">
					<th class="col-2"></th>
					<td class="col-8">
						<a class ="btn btn-link ml-0 pl-0 mt-0 pt-0" href="{% url 'password_reset' %}"
						role="button">Forgot your password?</a>
					</td>
				</tr>
				<tr class="d-flex">
					<th class="col-2"></th>
					<td class="col-8">
						<button type="submit" value="login" class ="btn btn-success">Login</button>
					</td>
				</tr>
			</table>
		</form>

	</div>
</div>
{% endblock %}

