{% extends "utilities/base.html" %}

{% block head %}
	<title>Acknowledgements</title>
{% endblock %}

{% block content %}
<h3>
    Acknowledgements
</h3>

<p>
The following scholars from Radboud University helped realise the database:
</p>

<ul>
  <li>Marguérite Corporaal</li>
  <li>Giulia Bruna</li>
  <li>Christopher Cusack</li>
  <li>Sophie van Os</li>
  <li>Anneloek Scholten</li>
  <li>Martijn Bentum</li>
  <li>Roel Smeets</li>
  <li>Janis Alexander</li>
  <li>Ninge Engelen</li>
  <li>Anna Ernst</li>
  <li>Marijn Koops</li>
  <li>Nils Lommerde</li>
  <li>Rutger van der Peet</li>
  <li>Fleur van Rennes</li>
</ul> 

<p> 
    This database was developed as part of the 
    project Redefining the Region: 
    <em>The Transnational Dimension of Local Colour </em>
    funded by the Dutch research council NWO through a VICI 
    grant (VI.C.181.026; PI: Prof. Marguérite Corporaal). 
</p>
<br>
<br>
<br>


{% endblock %}
