{% extends "catalogue/base.html" %}

{% block navbar%}
	{% if view == "inline" %}
	{% else %}
        {% include 'catalogue/navbar.html' %}
	{% endif %}
{% endblock %}

{% block head %}
	{{form.media.css}}
	<title>{{page_name}}</title>
{% endblock %}

{% block content %}

<div class="col-md-12 d-flex">
<h4 class="mt-2">{{page_name}}</h4>

{% if view != "inline" %}
	{% if page_name == "Edit publication"%}
	<a class ="btn btn-link ml-auto" href="{% url 'catalogue:add_publication' %}"
	role="button">add Publication</a>
	{% endif %}
	<a class ="btn btn-link ml-auto" href="{% url 'catalogue:publication_list' %}" 
	role="button">publication list</a>
{% endif %}
</div>
<hr class="mt-0 mb-4">
<form method="post">
    {% csrf_token %}
	<table class="table table-borderless" >
	<tr class="d-flex">
		<th class="col-2">Title</th>
		<td class="col-8">{{form.title}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">Type</th>
		<td class="col-8">{{form.form}}</td>
			<td><a class = "btn btn-link btn-sm ml-auto" target = "_blank"
				href ="{% url 'catalogue:add_type' 'inline' %}" role="button">
				 <i class="fa fa-plus"></i></a>
			</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">Publisher</th>
		<td class="col-8">{{form.publisher}}</td>
			<td><a class = "btn btn-link btn-sm ml-auto" target = "_blank"
				href ="{% url 'catalogue:add_publisher' 'inline' %}" role="button">
				 <i class="fa fa-plus"></i></a>
			</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">Year</th>
		<td class="col-8">{{form.year}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">Location</th>
		<td class="col-8">{{form.location}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">Upload</th>
		<td class="col-8">{{form.upload}}</td>
	</tr>
	</table>
    <button type="submit" value="Submit" class ="btn btn-success">Save</button>
	{% if view == "inline" %}
		<a type="reset" value="Cancel" class ="btn btn-light"
		href="{% url 'catalogue:close' %}">Cancel</a>
	{% endif %}
</form>

{{form.media.js}}
{% endblock content %}
