{% extends "utilities/base.html" %}

{% block navbar%}
	{% if view == "inline" %}
	{% else %}
        {% include 'utilities/navbar.html' %}
	{% endif %}
{% endblock %}


{% block head %}
	{{form.media.css}}
	<title>{{page_name}}</title>
{% endblock %}


{% block content %}
<div class="col-md-12 d-flex">
<h4 class="mt-2">{{page_name}}</h4>
{% if view != "inline" %}
	{% if page_name == "Edit text"%}
	<a class ="btn btn-link ml-auto" href="{% url 'catalogue:add_text' %}"
	role="button">add Text</a>
	{% endif %}
	<a class ="btn btn-link ml-auto" href="{% url 'catalogue:text_list' %}"
	role="button">Text list</a>
{% endif %}
</div>

<hr class="mt-0 mb-0">
{% if page_name == "Edit text" and 'unknown' not in crud.last_update %}
	{% include 'utilities/change_log.html' %}
	{% else %} <p class="mb-4"></p>
{% endif %}



<form method="post" enctype="multipart/form-data" onsubmit="dosubmit();>
{% csrf_token %}
{% include 'utilities/edit_minimize_tab.html' %}

<div class="tab-content">
    <div class="tab-pane fade" id="Edit">
	{%if page_name == "Edit text" and 'unknown' not in crud.last_update %}
		{% include 'utilities/change_log.html' %}
		{% else %} <p class="mb-4"></p>
	{% endif %}
	<!-- text form is defined in a seperate template -->
	{% include 'catalogue/_text_form.html' %}
    </div>
    <div class="tab-pane fade" id="Minimize">
		<!-- you can minimize the text form -->
		<br>
		<div class="col-md-12 d-flex">
        <h5 class="mb-1">{{form.instance.title}} </h5> 
		<p class="text-small ml-auto text-secondary mb-1">{{form.instance.form}} 
			{{form.instance.year}}</p> 
		</div>
    </div>
</div>

{% include 'utilities/relation_tabs.html' %}

<div class="tab-content">
	<div class="tab-pane fade" id="Texts">
		{{texttext_formset.management_form}}
		<table class="table table-borderless">
		<tr class ="d-flex">
		<th class="col-5">Text
			<a class = "btn btn-link btn-sm ml-auto" target = "_blank"
				href ="{% url 'catalogue:add_text' 'inline' %}" role="button">
				 <i class="fa fa-plus"></i></a>
			</th>
		<th class="col-3">relation
			<a class = "btn btn-link btn-sm ml-auto" target = "_blank"
				href ="{% url 'catalogue:add_text' 'inline' %}" role="button">
				 <i class="fa fa-plus"></i></a>
			</th>
		<th><i class="fa fa-times text-danger"></i></th>
		</tr>
		{% for f in texttext_formset.forms %}
			<tr class ="d-flex">
			<td class="col-5">{{f.text}} {{f.text.errors}}</td>
			<td class="col-3">{{f.relation}} {{f.relation.errors}}</td>
			<td class="col-1">{{f.DELETE}} {{f.id}}</td>
			</tr>
		{% endfor %}
		</table>
	</div>

	<div class="tab-pane fade" id="Persons">
		{{persontext_formset.management_form}}
		<table class="table table-borderless">
		<tr class ="d-flex">
		<th class="col-5">Person
			<a class = "btn btn-link btn-sm ml-auto" target = "_blank"
				href ="{% url 'persons:add_person' 'inline' %}" role="button">
				 <i class="fa fa-plus"></i></a>
			</th>
		<th class="col-3">Role
			<a class = "btn btn-link btn-sm ml-auto" target = "_blank"
				href ="{% url 'persons:add_person_text_relation_role'  %}" role="button">
				 <i class="fa fa-plus"></i></a>
			</th>
		<th><i class="fa fa-times text-danger"></i></th>
		</tr>
		{% for f in persontext_formset.forms %}
			<tr class ="d-flex">
			<td class="col-5">{{f.person}} {{f.person.errors}}</td>
			<td class="col-3">{{f.role}} {{f.role.errors}}</td>
			<td class="col-1">{{f.DELETE}} {{f.id}}</td>
			</tr>
		{% endfor %}
		</table>
	</div>
<div>

<input type="hidden" name="navbar" id="navbar" value="" />
<input type="hidden" name="navcontent" id="navcontent" value="" />
<input type="hidden" name="focus" id="focus" value="" />
<input type="submit" value="Save" class="btn btn-success">


    <button type="submit" value="Submit" class ="btn btn-success">Save</button>
	{% if view == "inline" %}
		<a type="reset" value="Cancel" class ="btn btn-light"
		href="{% url 'utilities:close' %}">Cancel</a>
	{% endif %}
</form>

{% include 'utilities/tab_selector.html' %}
{{form.media.js}}
{% endblock content %}
 

