{% extends "utilities/base.html" %}

{% block navbar%}
	{% if view == "inline" %}
	{% else %}
        {% include 'utilities/navbar.html' %}
	{% endif %}
{% endblock %}

{% block head %}
	{{form.media.css}}
	<title>{{page_name}}</title>
{% endblock %}




{% block content %}



<div class="col-md-12 d-flex">
<h4 class="mt-2">{{page_name}}</h4>

{% if view != "inline" %}
	{% if page_name == "Edit illustration"%}
	<a class ="btn btn-link ml-auto" href="{% url 'catalogue:add_illustration' %}"
	role="button">add illustration</a>
	{% endif %}
	<a class ="btn btn-link ml-auto" href="{% url 'catalogue:illustration_list' %}" 
	role="button">illustration list</a>
{% endif %}
</div>
<hr class="mt-0 mb-0">
{% if page_name == "Edit illustration" and 'unknown' not in crud.last_update %}
	{% include 'utilities/change_log.html' %}
	{% else %} <p class="mb-4"></p>
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
	<table class="table table-borderless" >
	<tr class="d-flex">
		<th class="col-2">Caption</th>
		<td class="col-8">{{form.caption}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">Category</th>
		<td class="col-8">{{form.category}}</td>
			<td><a class = "btn btn-link btn-sm ml-auto" target = "_blank"
				href ="{% url 'catalogue:add_illustration_category'%}"
				role="button"><i class="fa fa-plus"></i></a>
			</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">Page</th>
		<td class="col-8">{{form.page_number}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">Upload</th>
		<td class="col-8">{{form.upload}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">Notes</th>
		<td class="col-8">{{form.notes}}</td>
	</tr>
	</table>
    <button type="submit" value="Submit" class ="btn btn-success">Save</button>
	{% if view == "inline" %}
		<a type="reset" value="Cancel" class ="btn btn-light"
		href="{% url 'utilities:close' %}">Cancel</a>
	{% endif %}
</form>

{{form.media.js}}

<br>
{% if form.instance.upload %}
	<img class="mx-auto d-block img-fluid" src="{{form.instance.upload.url}}" alt="{{form.instance.upload.url}}" > 
{% endif %}

{% endblock content %}


