{% extends "utilities/base.html" %}
{% load getattribute %} 

{% block head %}
	<title>{{page_name}}</title>
	{% include 'utilities/detail_style.html' %}
{% endblock %}

{% block content%}

<p class="category">Periodical</p>
<p class="title">{{instance.title}}
	<a class = "btn btn-link btn-sm ml-auto"
		href ="{% url instance.edit_url instance.pk %}"
		role="button"><i class="far fa-edit text-secondary"></i></a>
</p>
<p class="date">{{instance.dates}}</p>
<hr>

{% if instance.location_names %}
	<span class="info-header">location: </span>{{instance.location_names}}
	<br>
{% endif %}

{% for key, persons in instance.roles_to_persons_dict.items %}
	<div clas="one-line">
		<span class="info-header">
			{{key}}: 
		</span>
		{%for person in persons %}
			<a class="link-color"
			href="{% url person.edit_url person.pk %}"
			role="button">
				{{person.full_name}} 
			</a>&nbsp<small>{{person.life_concise}}</small>&nbsp
		{%endfor%}
	</div>
{%endfor%}

<br>
<span class="info-header">publications:</span><br>
{%for publication in instance.publications%}
	<div>
		<a class="link-color"
		href="{% url publication.detail_url publication.pk %}"
		role="button">
			{{publication.title}}
		</a>
		&nbsp<small>{{publication.dates}}</small>
	</div>
{%endfor%}

<style>
</style>

{% endblock %}
