{% extends "utilities/base.html" %}
{% load getattribute %} 

{% block head %}
	<title>{{page_name}}</title>
	{% include 'utilities/detail_style.html' %}
{% endblock %}

{% block content%}
<p class="title">{{instance.title}}
	<a class = "btn btn-link btn-sm ml-auto"
		href ="{% url instance.edit_url instance.pk %}"
		role="button"><i class="far fa-edit text-secondary"></i></a>
</p>
<p class="date">{{instance.dates}}</p>
<hr>

{% for key, persons in instance.roles_to_persons_dict.items %}
	<div clas="one-line">
		<span class="info-header">
			{{key}}: 
		</span>
		{%for person in persons %}
			<a class="link-color"
			href="{% url person.edit_url person.pk %}"
			role="button">
				{{person.full_name}} 
			</a>&nbsp<small>{{person.life_concise}}</small>&nbsp
		{%endfor%}
	</div>
{%endfor%}

<p>publications: {{instance.publications}}</p>
<p>Genre: {{instance.genre}}</p>
<p>Language: {{instance.language}}</p>

<style>
</style>

{% endblock %}
