{% extends "utilities/base.html" %}
{% load static %}

{% block head %}
	<title>Redefining the region</title>
    <link rel="stylesheet" href="{% static 'catalogue/home.css' %}"
{% endblock %}

{% block content %}

<div class="lower-half">
    <div class="images">    
        {% for image_url in image_urls %}
            <img src="{{image_url}}" alt="image" class="big-img">
        {% endfor %}
    </div>

    <div class="col-11 search-link">
        <a href="{% url 'locations:simple_map_search' %}" 
            class="btn btn-primary">Search materials
            <i class="fas fa-search"></i>
        </a>
    </div>

    <div class="col-11 intro">
        <h3>
            Redefining the region
        </h3>

        <p>
            This searchable database makes it possible to get to know much more 
            about local colour, in the form of media illustrations and literary 
            texts. Who were the artists making illustrations of the region for 
            the press? What kind of images of specific regions were made, and 
            what did these illustrations focus on? Who were major local colour 
            authors from this period, and what regions did they write about?
        </p>

        <p>
            These are questions that you can explore through the data collected 
            here. It is possible to search on names, titles but also on regions. 
            This helps you to see how the region you are interested in was 
            imagined af the time, or to find out what texts about this region 
            were written.
        </p>

        <p>
            The database also incorporates a map search that can be filtered, 
            and makes it possible to compare the cultural production of 
            regionalism over a selected period, or in connection to specific 
            countries, provinces and even municipalities. 
        </p>

    </div>

</div>


{% endblock content %}
