<!-- test view to print data in a table from model --> 
{% extends "catalogue/base.html" %}
{% block content %}
{% if location_list %}

<div class="d-flex">

<table class="table table-hover">
	<tr class="table-primary">
	<!-- create header -->
	{% for attr in location_list.0.attribute_names_hr%}
		<th> {{ attr }} </th>
	{% endfor %}
	</tr>
	{% for location in location_list %}
	<tr>
		{% for attr in location.listify %}
			{% if attr|length > 12 %}
				<!-- truncate long strings -->
				<td>{{ attr|truncatechars:12}}</td>
			{% else %}
				<td>{{ attr }}</td>
			{% endif %}
		{% endfor %}
	</tr>
	{% endfor %}
</table>
<a class ="btn btn-link ml-auto" href="../add_location" role="button">Add location</a>
</div>


{% else %}
	<p>no locations are available</p>
{% endif %}
{% endblock content %}

