{% extends "utilities/base.html" %}

{% block head %}
	<title>{{page_name}}</title>
{% endblock %}


{% block content %}
{% if periodical_list %}
{% include 'utilities/change_log_list.html' %}

<div class="d-flex">

<table class="table">
	<tr> 
	<th>Title</th>
	<th>Founded</th>
	<th>Closure</th>
	</tr>
	{% for periodical in periodical_list %}
		<td>{{periodical.title}}</td>
		<td>{{periodical.founded}}</td>
		<td>{{periodical.closue}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto"
        href ="{% url 'catalogue:delete' periodical.pk 'Periodical' %}"
        role="button"><i class="fa fa-trash text-secondary"></i></a></td>
		<td><a class = "btn btn-link btn-sm ml-auto"
        href ="{% url 'catalogue:edit_periodical' periodical.pk %}"
        role="button"><i class="far fa-edit text-secondary"></i></a></td>
	</tr>
	{% endfor %}
</table>
<a class ="btn btn-link ml-auto" href="{% url 'catalogue:add_periodical' %}"
role="button">Add periodical</a>
</div>

{% else %}
	<p>no periodicals are available</p>
{% endif %}

{% endblock content %}


	<!-- <td>{{ attr|truncatechars:40}}</td> -->
