{% extends "catalogue/base.html" %}
{% block content %}



<div>
	<div style="float:left">
	<!-- <button onclick="oslo()">Oslo</button> -->

	<h1>{{person.name}}</h1>
	<p>Born: {{person.born}}</p>
	{% if person.died != '' %}
		<p>Died: {{person.died}}</p>
	{% endif %}
	<p>Age: {{person.age}}</p>
<br>
<img src="/media/house.png" alt="house" width="20" hiehgt="50">
<br>
<!-- {{person.locations.1}} -->
<!-- {{person.location_status}} -->

<!-- <button onclick="add_locations()">amsterdam</button> -->

	</div>
	<div> 
	{% include "locations/map_location.html" %}
	</div>
</div>

<script>
function show_loc(latitude,longitude,name,index){
	var mapObject = $('#map').vectorMap('get', 'mapObject');
	console.log(mapObject);
	mapObject.setFocus({lat:latitude,lng:longitude,x:1,y:1,scale:4});
	mapObject.addMarker(index,{
			latLng:[latitude,longitude],
			name:name,
			})
	console.log(typeof(mapObject.markers));
	console.log(Object.keys(mapObject.markers).length);
	console.log(mapObject.markers["1"]);
};

function remove_loc(){
	var mapObject = $('#map').vectorMap('get', 'mapObject');
	mapObject.removeAllMarkers();
};

function add_locations(){
	{% for loc in person.locations.0 %}
		show_loc({{loc.latitude}},{{loc.longitude}},'{{loc.name}}',{{forloop.counter}})
	{% endfor %}
	var mapObject = $('#map').vectorMap('get', 'mapObject');
	<!-- var values = {{person.locations.1}}; -->
	var temp = {{person.location_status|safe}};
	<!-- var values = temp.split(','); -->
	console.log(temp);
	var values = temp;
	<!-- var values = JSON.parse(temp); -->
	console.log(values);
	values[4] ='ok';
	console.log(typeof(values));
	console.log(mapObject.markers);
	mapObject.series.markers[0].setValues(values);
	mapObject.series.markers[0].setValues(values);
	console.log(mapObject.series.markers[0].values);
};

$(document).ready(function(){add_locations();});
</script>


{% endblock content %}
