{% extends "utilities/base.html" %}

{% block head %}
	<title>{{page_name}}</title>
{% endblock %}


{% block content %}
{% if publisher_list %}
{% include 'utilities/change_log_list.html' %}

<div class="d-flex">

<table class="table table-hover">
	<tr> 
	<th>Name</th>
	<th>Location</th>
	</tr>
	{% for publisher in publisher_list %}
	<tr onclick='window.location="{% url 'catalogue:edit_publisher' publisher.pk %}"'>
		<td>{{publisher.name}}</td>
		<td>{{publisher.location_string}}</td>
	</tr>
	{% endfor %}
</table>
<a class ="btn btn-link ml-auto" href="{% url 'catalogue:add_publisher' %}"
role="button">Add publisher</a>
</div>

{% else %}
	<p>no publishers are available</p>
{% endif %}

{% endblock content %}


	<!-- <td>{{ attr|truncatechars:40}}</td> -->
