{% extends "utilities/base.html" %}

{% block head %}
	<title>{{page_name}}</title>
{% endblock %}


{% block content %}
{% if publication_list %}
{% include 'utilities/change_log_list.html' %}

<div class="d-flex">

<table class="table">
	<tr> 
	<th>Title</th>
	<th>Form</th>
	<th>Publisher</th>
	<th>Location</th>
	</tr>
	{% for publication in publication_list %}
		<td>{{publication.title}}</td>
		<td>{{publication.form.name}}</td>
		<td>{{publication.publisher_str}}</td>
		<td>{{publication.location.name}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto"
        href ="{% url 'catalogue:delete' publication.pk 'Publication' %}"
        role="button"><i class="fa fa-trash text-secondary"></i></a></td>
		<td><a class = "btn btn-link btn-sm ml-auto"
        href ="{% url 'catalogue:edit_publication' publication.pk %}"
        role="button"><i class="far fa-edit text-secondary"></i></a></td>
	</tr>
	{% endfor %}
</table>
<a class ="btn btn-link ml-auto" href="{% url 'catalogue:add_publication' %}" 
role="button">Add publication</a>
</div>

{% else %}
	<p>no publications are available</p>
{% endif %}

{% endblock content %}


	<!-- <td>{{ attr|truncatechars:40}}</td> -->
