{% extends "catalogue/base.html" %}
{% if publication_list %}

{% block content %}


<div class="d-flex">

<table class="table table-hover">
	<tr> 
	<th>Title</th>
	<th>Form</th>
	<th>Publisher</th>
	<th>Location</th>
	</tr>
	{% for publication in publication_list %}
	<tr onclick='window.location="{% url 'catalogue:edit_publication' publication.pk %}"'>
		<td>{{publication.title}}</td>
		<td>{{publication.form}}</td>
		<td>{{publication.publisher}}</td>
		<td>{{publication.location}}</td>
	</tr>
	{% endfor %}
</table>
<a class ="btn btn-link ml-auto" href="{% url 'catalogue:add_publication' %}" 
role="button">Add publication</a>
</div>

{% endblock content %}

{% else %}
	<p>no publications are available</p>
{% endif %}

	<!-- <td>{{ attr|truncatechars:40}}</td> -->
