{% extends "utilities/base.html" %}

{% block head %}
	<title>{{page_name}}</title>
{% endblock %}


{% block content %}
{% include 'utilities/list_search_bar.html' %}

{% if publisher_list %}

<div class="d-flex">

<table class="table">
	<tr> 
	<th><a href="?order_by=name,{{order}},{{direction}},{{query}}" 
		style="text-decoration:none;">Name</a></th>
	<th><a href="?order_by=location,{{order}},{{direction}},{{query}}" 
		style="text-decoration:none;">Location</a></th>
	<th></th>
	</tr>
	{% for publisher in publisher_list %}
		<td>{{publisher.name}}</td>
		<td>{{publisher.location_string}}</td>
		<td style="white-space:nowrap;"><a class = "btn btn-link btn-sm ml-auto"
        href ="{% url 'catalogue:delete' publisher.pk 'Publisher' %}"
        role="button"><i class="fa fa-trash text-secondary"></i></a>
		<a class = "btn btn-link btn-sm ml-auto"
        href ="{% url 'catalogue:edit_publisher' publisher.pk %}"
        role="button"><i class="far fa-edit text-secondary"></i></a></td>
	</tr>
	{% endfor %}
</table>
</div>

{% else %}
	<p>no publishers are available</p>
{% endif %}

{% endblock content %}


	<!-- <td>{{ attr|truncatechars:40}}</td> -->
