<!-- test view to print data in a table from model --> 
{% extends "catalogue/base.html" %}
{% if text_list %}

{% block content %}

<div class="d-flex">

<table class="table table-hover">
	<tr class="table-primary">
	<!-- create header -->
	{% for attr in text_list.0.attribute_names_hr%}
		<th> {{ attr }} </th>
	{% endfor %}
	</tr>
	{% for text in text_list %}
	<tr>
		{% for attr in text.listify %}
			{% if attr|length > 12 %}
				<!-- truncate long strings -->
				<td>{{ attr|truncatechars:12}}</td>
			{% else %}
				<td>{{ attr }}</td>
			{% endif %}
		{% endfor %}
	</tr>
	{% endfor %}
</table>
<a class ="btn btn-link ml-auto" href="../add_text" role="button">Add text</a>
</div>

{% endblock content %}

{% else %}
	<p>no texts are available</p>
{% endif %}
