<!-- test view to print data in a table from model --> 
{% extends "catalogue/base.html" %}
{% if text_list %}

{% block content %}

<div class="d-flex">

<table class="table table-hover">
	<tr> 
	<th>Title</th>
	<th>Language</th>
	<th>Genre</th>
	<th>Setting</th>
	</tr>
	{% for text in text_list %}
	<tr onclick='window.location="{% url 'catalogue:edit_text' text.pk %}"'>
		<td>{{text.title}}</td>
		<td>{{text.language}}</td>
		<td>{{text.genre}}</td>
		<td>{{text.setting}}</td>
	</tr>
	{% endfor %}
</table>
<a class ="btn btn-link ml-auto" href="{% url 'catalogue:add_text' %}"
role="button">Add text</a>
</div>

{% endblock content %}

{% else %}
	<p>no texts are available</p>
{% endif %}

	<!-- <td>{{ attr|truncatechars:40}}</td> -->
