<!-- test view to print data in a table from model --> 
{% extends "utilities/base.html" %}

{% block head %}
	<title>{{page_name}}</title>
{% endblock %}


{% block content %}


<div class="d-flex">
{% include 'utilities/list_search_bar.html' %}
	<a class ="btn btn-link ml-auto" href="{% url 'catalogue:add_text' %}"
	role="button">Add text</a>
</div>

{% if text_list %}

<div class="d-flex">

<table class="table">
	<tr> 
	<th><a href="?order_by=title,{{order}},{{direction}},{{query}}" 
		style="text-decoration:none;">Title</a></th>
	<th><a href="?order_by=language,{{order}},{{direction}},{{query}}" 
		style="text-decoration:none;">Language</a></th>
	<th><a href="?order_by=genre,{{order}},{{direction}},{{query}}" 
		style="text-decoration:none;">Genre</a></th>
	<th><a href="?order_by=setting,{{order}},{{direction}},{{query}}" 
		style="text-decoration:none;">Setting</a></th>
	<th></th>
	</tr>
	{% for text in text_list %}
		<td>{{text.title}}</td>
		<td>{{text.language}}</td>
		<td>{{text.genre}}</td>
		<td>{{text.setting}}</td>
		<td style="white-space:nowrap;"><a class = "btn btn-link btn-sm ml-auto"
        href ="{% url 'catalogue:delete' text.pk 'Text' %}"
        role="button"><i class="fa fa-trash text-secondary"></i></a>
		<a class = "btn btn-link btn-sm ml-auto"
        href ="{% url 'catalogue:edit_text' text.pk %}"
        role="button"><i class="far fa-edit text-secondary"></i></a></td>
	</tr>
	{% endfor %}
</table>
</div>

{% else %}
	<p>no texts are available</p>
{% endif %}

{% endblock content %}


	<!-- <td>{{ attr|truncatechars:40}}</td> -->
